div#actions{
	/*background-color: #cfcfcf;*/
	margin: 5px 0px 0px 0px;
	padding: 5px 5px 10px 5px;
/*	border: 2px solid #c1c1c1;*/
}

div#sort_actions{
	/*background-color: #cfcfcf;*/
	margin: 2px 0px 0px 0px;
	padding: 2px 5px 2px 5px;
/*	border: 2px solid #c1c1c1;*/
}

p.action input{
	/*width: 200px;*/
	padding: 3px 10px 2px 10px;	
}

p.sort input{
	/*width: 200px;*/
	padding: 3px 10px 2px 10px;	
	color: #009;
}
